*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_container{
    width: 50vw;
    height: 100vh;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 3px;
    background-image: url("hack.jpg");
    background-size: cover;

}
h1{
    color: rgb(250, 218, 11);
    text-align: center;
    font-size: 1.5rem;
    padding: 5%;

}
p{
    font-size: 20px;
}
#err{
    color: red;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
#inp{
    width: 70%;
    margin-left: 15%;
    font-size: 20px;
    border-radius: 5%;
    text-align: center;
    font-family: monospace;
    border-radius: 4px;
}
#password{
    font-size: 15px;
    width: 50%;
    margin-top: 10%;
    margin-left: 22%;
    text-align: center;
    font-family: monospace;
    border-radius: 4px;
}

.input_box{
    width: 45%;
    height: 150px;
    border-radius: 5%;
    margin-top: 10%;
    margin-left: 25%;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    border: 1px solid white;
    color: rgb(240, 221, 10);
    font-family: 'Segoe UI';

}
button{
    width: 250px;
    height: 30px;
    margin-top: 5%;
    margin-left: 30%;
    font-family: monospace;
    color: rgb(240, 221, 10);
    background-color: rgb(83, 80, 80);
    font-size: 20px;
    border-radius: 4px;

}

